.node-red/.flows.json.backup
[{"id":"dad07e26.f129b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"95a6520f.fd93","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ad6a9984.1f9468","type":"mqtt-broker","z":"","name":"","broker":"54.37.229.74","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d5a04db8.25b","type":"mqtt-broker","z":"","name":"MOSCA MQTT Broker","broker":"127.0.0.1","port":"1885","clientid":"Alarm","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"88ed757e.2997c8","type":"mqtt-broker","z":"","name":"mosca-docker","broker":"127.0.0.1","port":"8080","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"20b4f4e1.d2d8dc","type":"mqtt-broker","z":"","name":"kubernete-mosca","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"409f3444.8d637c","type":"mongodb3","z":"","uri":"mongodb://localhost:27017/uniovidb","name":"uniovidb","options":"","parallelism":"-1"},{"id":"95dd2c95.18cf","type":"mosca in","z":"dad07e26.f129b","mqtt_port":"1885","mqtt_ws_port":"8085","name":"","username":"admin","password":"uniovi","dburl":"","x":290,"y":180,"wires":[["78a107f4.a0a408"]]},{"id":"78a107f4.a0a408","type":"debug","z":"dad07e26.f129b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":240,"wires":[]},{"id":"2ffbf985.df4c86","type":"mqtt out","z":"dad07e26.f129b","name":"","topic":"uniovi/poc","qos":"","retain":"","broker":"d5a04db8.25b","x":640,"y":480,"wires":[]},{"id":"b2be59cc.1659d8","type":"inject","z":"dad07e26.f129b","name":"","topic":"sensors/temperature","payload":"{\"device\":\"TP01\",\"value\":0,\"date\":\"2019-02-04T18:17:08.265Z\"}","payloadType":"json","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":440,"wires":[["257bc9b4.8939d6"]]},{"id":"5e987d88.5c8e04","type":"mqtt in","z":"dad07e26.f129b","name":"","topic":"sensors/temperature","qos":"2","broker":"d5a04db8.25b","x":270,"y":320,"wires":[["a234909c.83511"]]},{"id":"a234909c.83511","type":"debug","z":"dad07e26.f129b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":360,"wires":[]},{"id":"257bc9b4.8939d6","type":"function","z":"dad07e26.f129b","name":"","func":"var value = 0;\nif (msg.payload.device === 'HR01'){\n    value = Math.round((Math.random() < 0.5 ? 1 : 1) * Math.random() * 100);\n} else {\n    value = value = Math.round((Math.random() < 0.5 ? 1 : -1) * Math.random() * 10);\n}\nmsg.payload.value = value;\nmsg.payload.date = new Date();\n\nnode.status({text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":600,"wires":[["2ffbf985.df4c86","76dfdbe3.aaa2e4","e39adcc.ed4bd2"]]},{"id":"76dfdbe3.aaa2e4","type":"debug","z":"dad07e26.f129b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":620,"wires":[]},{"id":"8481d7bd.8f2738","type":"mqtt in","z":"dad07e26.f129b","name":"","topic":"uniovi/poc","qos":"2","broker":"d5a04db8.25b","x":170,"y":700,"wires":[["9fc5b92d.d11278"]]},{"id":"9fc5b92d.d11278","type":"debug","z":"dad07e26.f129b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":380,"y":740,"wires":[]},{"id":"85f73cd0.9096c","type":"inject","z":"95a6520f.fd93","name":"Dataset","topic":"","payload":"{\"channel\":\"PR01\",\"color\":\"Green\",\"dataset\":[{\"x\":1,\"y\":9},{\"x\":2,\"y\":-10},{\"x\":3,\"y\":12},{\"x\":4,\"y\":2},{\"x\":5,\"y\":0}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":240,"wires":[[]]},{"id":"a66160d7.8fce8","type":"debug","z":"95a6520f.fd93","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":240,"wires":[]},{"id":"332028a1.0ab9f8","type":"inject","z":"95a6520f.fd93","name":"Dataset","topic":"","payload":"{\"channel\":\"PR01\",\"color\":\"Green\",\"dataset\":[{\"x\":1,\"y\":9},{\"x\":2,\"y\":-10},{\"x\":3,\"y\":12},{\"x\":4,\"y\":2},{\"x\":5,\"y\":0}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":380,"wires":[[]]},{"id":"4cecde10.52cbe","type":"debug","z":"95a6520f.fd93","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":380,"wires":[]},{"id":"4d8605fe.7d7d2c","type":"inject","z":"dad07e26.f129b","name":"","topic":"sensors/temperature","payload":"{\"device\":\"RH01\",\"value\":0,\"date\":\"2019-02-04T18:17:08.265Z\"}","payloadType":"json","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":500,"wires":[["257bc9b4.8939d6"]]},{"id":"e39adcc.ed4bd2","type":"mongodb3 in","z":"dad07e26.f129b","service":"_ext_","configNode":"409f3444.8d637c","name":"Measure","collection":"Measure","operation":"insert","x":460,"y":420,"wires":[["5397b2cb.5dc7bc"]]},{"id":"5397b2cb.5dc7bc","type":"debug","z":"dad07e26.f129b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":400,"wires":[]}]